

body{
	width: 100%;
	margin: 0;
	font-family: 'Playfair Display', serif;
	font-family: 'Roboto', sans-serif;
}


nav{
	background-color: #177165;
	width: 100%;
	height: 6.625rem;
}
.nav_row{
	font-family: 'Roboto';
	width: 90%;
	margin: 0 auto;
	padding-top: 1rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.logo{
	width: 30%;
}@media screen and (max-width: 768px){
	.logo{
		width: 20%;
	}
	.logo img{
		width: 100%;
	}
}
.nav_menu{
	width: 30%;
	display: flex;
	justify-content: space-between;
}
@media screen and (max-width: 1024px){
	.nav_menu{
		width: 35%;
	}
}
@media screen and (max-width: 1024px){
	.nav_menu{
		width: 40%;
	}
}
.nav_menu a:nth-child(1){
	text-decoration: none;
	color: #FFF;
	font-size: 0.938rem;
	line-height: 1.625rem;
	
}
.nav_menu a{
	text-decoration: none;
	color: #a4d6cf;
	font-size: 0.938rem;
	line-height: 1.625rem;
}
.telephone{
	width: 30%;
	display: flex;
	justify-content: end;
}
@media screen and (max-width: 768px){
	.telephone{
		width: 20%;
	}
	.telephone img{
		width: 25%;
	}
}
.number{
	font-size: 1.063rem;
	margin-left: 1.25rem;
	line-height: 0.5rem;
}
@media screen and (max-width: 768px){
	.number{
		font-size: 0.71rem;
	}
}
.number :nth-child(1){
	color: #a4d6cf;
}
.number :nth-child(2){
	color: #fff;
}

.intro{
	font-family: 'Roboto';
	width: 100%;
	height: 49.25rem;
	background-color: #177165;
}
@media screen and (max-width: 1024px){
	.intro{
		background-color: #177165;
		height: 40rem;
	}
}
@media screen and (max-width: 768px){
	.intro{
		background-color: #177165;
		height: 34rem;
	}
}







.intro_row{
	display: flex;
	justify-content: space-between;
	width: 80%;
	margin: 0 auto;
	padding-top: 1rem;
}
@media screen and (max-width: 1024px){
	.intro_row{
		width: 85%;
	}
}@media screen and (max-width: 768px){
	.intro_row{
		width: 95%;
	}
}
.intro_text{
	display: flex;
	flex-direction: column;
	width: 34.375rem;
	height: 36.75rem;
}
@media screen and (max-width: 1024px){
	.intro_text{
		width: 22rem;
		height: 36.75rem;
	}
}
@media screen and (max-width: 768px){
	.intro_text{
		width: 20rem;
		height: 30.75rem;
	}
}
.intro_phrase{
	margin: 3rem 0 0 0 ;
	display: flex;
	justify-content: space-between;
	width: 17.825rem;
	color: #a4d6cf;
	font-size: 1.063rem;
	line-height: 1.828rem;
}
@media screen and (max-width: 1024px){
	.intro_phrase{
		width: 17.8rem;
		font-size: 1.025rem;
	}
}
@media screen and (max-width: 768px){
	.intro_phrase{
		width: 18rem;
		font-size: 1.025rem;
	}
}
h1{
	color: #fff;
	font-size: 4.5rem;
	line-height: 4.5rem;
	margin: 0 0 0 0;
	font-family: 'Playfair Display';
	font-weight: 400;
}
@media screen and (max-width: 1024px){
	h1{
		font-size: 2.5rem;
		line-height: 3.5rem;
	}
}
@media screen and (max-width: 768px){
	h1{
		font-size: 2rem;
		line-height: 3rem;
	}
}
.intro_author{
	margin: 2rem 0 2.7rem 0 ;
	display: flex;
	justify-content: space-between;
	width: 11.970rem;
	color: #a4d6cf;
	font-size: 1.063rem;
	line-height: 1.828rem;
}
@media screen and (max-width: 1024px){
	.intro_author{
		width: 12.5rem;
		font-size: 1.025rem;
	}
}
@media screen and (max-width: 768px){
	.intro_author{
		width: 12rem;
		font-size: 1.025rem;
	}
}
.intro_text a{
	text-decoration: none;
	color: #177165;
	background-color: #fff;
	padding: 0rem 2rem;
	width: 9rem;
	font-size: 1.125rem;
	line-height: 1.625rem;
	border: 1px solid #177165;
}
.intro_text a:hover{
	background-color: #a4d6cf;
}
.intro_img{
	margin-top: 2rem;
}
@media screen and (max-width: 1024px){
	.intro_img img{
		width: 27rem;
	}
}
@media screen and (max-width: 768px){
	.intro_img img{
		width: 22rem;
	}
}


















.about{
	height: 79rem;
}
@media screen and (max-width: 1024px){
	.about{
		height: 60rem;
	}
}@media screen and (max-width: 768px){
	.about{
		height: 60rem;
	}
}
.about_company{
	display: flex;
	justify-content: space-between;
	font-size: 1.125rem;
	color: #777777;
	line-height: 1.844rem;
	width: 11rem;
	margin: 12rem 0 0 9rem;
}
@media screen and (max-width: 1024px){
	.about_company{
		margin: 12rem 0 0 4.8rem;
		font-size: 1.025rem;
		width: 10.2rem;
	}
}@media screen and (max-width: 768px){
	.about_company{
		margin: 8rem 0 0 1.3rem;
		font-size: 1.025rem;
		width: 10.4rem;
	}
}
h2{
	font-size: 3rem;
	line-height: 3.6rem;
	font-family: 'Playfair Display';
	font-weight: 400;
	color: #177165;
	margin: 0 0 3.5rem 9rem;
	width: 68rem;
}
@media screen and (max-width: 1024px){
	h2{
		margin: 0 0 3rem 4.8rem;
		font-size: 2rem;
		line-height: 2.5rem;
		width: 50rem;
	}
}@media screen and (max-width: 768px){
	h2{
		margin: 0 0 3rem 1.3rem;
		font-size: 2rem;
		line-height: 2.5rem;
		width: 45rem;
	}
}
.about_row{
	display: flex;
	justify-content: space-between;
	width: 80%;
	margin: 0 auto;
}
@media screen and (max-width: 1024px){
	.about_row{
		width: 85%;
	}
}@media screen and (max-width: 768px){
	.about_row{
		width: 95%;
	}
}
@media screen and (max-width: 1024px){
	.about_row img{
		width: 27rem;
	}
}@media screen and (max-width: 768px){
	.about_row img{
		width: 22rem;
	}
}
.about_text{
	display: flex;
	flex-direction: column;
	margin: 2rem 0 0 6rem;
}
@media screen and (max-width: 1024px){
	.about_text{
		margin: 0rem 0 0 4rem;
	}
}
.about_text p:nth-child(1){
	font-family: 'Playfair Display';
	font-size: 2rem;
	line-height: 2.18rem;
	color: #177165;
}
@media screen and (max-width: 1024px){
	.about_text p:nth-child(1){
		font-size: 1.5rem;
		line-height: 0.7rem;
	}
}
.about_text :nth-child(2){
	font-size: 1rem;
	line-height: 1.625rem;
	color: #777777;
}
@media screen and (max-width: 1024px){
	.about_text p:nth-child(2){
		font-size: 0.9rem;
		line-height: 1.2rem;
	}
}
.about_text :nth-child(3){
	font-size: 1.375rem;
	line-height: 1.875rem;
	color: #177165;
	font-family: 'Playfair Display';
}
@media screen and (max-width: 1024px){
	.about_text p:nth-child(3){
		font-size: 1.1rem;
		line-height: 1.25rem;
	}
}
.about_text :nth-child(4){
	font-family: 'Playfair Display';
	font-size: 2rem;
	margin: 0;
	color: #177165;
}
@media screen and (max-width: 1024px){
	.about_text p:nth-child(4){
		font-size: 1.5rem;
		line-height: 0.7rem;
		margin: 0.5rem 0;
	}
}
.about_text :nth-child(5){
	font-size: 1rem;
	line-height: 1.625rem;
	color: #777777;
}
@media screen and (max-width: 1024px){
	.about_text p:nth-child(5){
		font-size: 0.9rem;
		line-height: 1.2rem;
	}
}
.about_text :nth-child(6){
	font-size: 1rem;
	line-height: 1.625rem;
	color: #777777;
}
@media screen and (max-width: 1024px){
	.about_text p:nth-child(6){
		font-size: 0.9rem;
		line-height: 1.2rem;
	}
}
.about_text a{
	display: block;
	align-items: center;
	text-decoration: none;
	border: 0.18rem solid #177165;
	color: #177165;
	font-size: 1rem;
	width: 9rem;
	padding:0 2rem 0 3.5rem;
	margin-top: 3.5rem;
}
@media screen and (max-width: 1024px){
	.about_text a{
		margin-top: 2.5rem;
	}
}
.about_text a:hover{
	background-color: #a4d6cf;
}























.services{
	height: 55rem;
	background-color: #e1f4f2;
}
@media screen and (max-width: 1024px){
	.services{
		height: 46rem;
	}
}@media screen and (max-width: 768px){
	.services{
		height: 67rem;
	}
}
.our_services{
	display: flex;
	justify-content: space-between;
	font-size: 1.125rem;
	color: #777777;
	line-height: 1.844rem;
	width: 9.2rem;
	padding: 6.25rem 0 0 9rem;
}
@media screen and (max-width: 1024px){
	.our_services{
		padding: 4.25rem 0 0 4.8rem;
		font-size: 1.025rem;
		width: 8.6rem;
	}
}@media screen and (max-width: 768px){
	.our_services{
		padding: 4.25rem 0 0 1.3rem;
		font-size: 1.025rem;
		width: 9rem;
	}
}
.our_services_row{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 80%;
	margin: 0 auto 0rem;
}
@media screen and (max-width: 1024px){
	.our_services_row{
		width: 85%;
	}
}@media screen and (max-width: 768px){
	.our_services_row{
		width: 80%;
	}
}
.our_service_flower{
	display: flex;
	justify-content: space-between;
	font-size: 0.93rem;
	line-height: 1.75rem;
	color: #777777;
	width: 5.8rem;
}
@media screen and (max-width: 1024px){
	.our_service_flower{
		width: 1rem;
		font-size: 0.93rem;
	}
}
@media screen and (max-width: 1024px){
	.flower img{
		width: 12rem;
	}
}@media screen and (max-width: 768px){
	.flower img{
		width: 15rem;
	}
}
h3{
	font-size: 1.375rem;
	line-height: 0.234rem;
	color: #177165;
	font-family: 'Playfair Display';
	font-weight: 400;
	margin: 0 ;
}
@media screen and (max-width: 1024px){
	h3{
		font-size: 1.1rem;
	}
}@media screen and (max-width: 768px){
	h3{
		margin-bottom: 3.5rem;
	}
}
.our_service_planting{
	display: flex;
	justify-content: space-between;
	font-size: 0.93rem;
	line-height: 1.75rem;
	color: #777777;
	width: 6.5rem;
}
@media screen and (max-width: 1024px){
	.planting img{
		width: 12rem;
	}
}@media screen and (max-width: 768px){
	.planting img{
		width: 15rem;
	}
}
.our_services_rush_removal{
	display: flex;
	justify-content: space-between;
	font-size: 0.93rem;
	line-height: 1.75rem;
	color: #777777;
	width: 5rem;
}
@media screen and (max-width: 1024px){
	.rush img{
		width: 12rem;
	}
}@media screen and (max-width: 768px){
	.rush img{
		width: 15rem;
	}
}
.our_services_watering{
	display: flex;
	justify-content: space-between;
	font-size: 0.93rem;
	line-height: 1.75rem;
	color: #777777;
	width: 6.7rem;
}
@media screen and (max-width: 1024px){
	.watering img{
		width: 12rem;
	}
}@media screen and (max-width: 768px){
	.watering img{
		width: 15rem;
	}
}
.services a{
	display: block;
	margin: 6rem auto 0;
	text-align: center;
	text-decoration: none;
	color: #177165;
	font-size: 1rem;
	width: 14rem;
	border: 0.125rem solid #177165;
}
.services a:hover{
	background-color: #FFF;
}
@media screen and (max-width: 1024px){
	.services a{
		margin: 5rem auto 0;
	}
}@media screen and (max-width: 768px){
	.services a{
		margin: 1rem auto 0;
	}
}







.call_us{
	width: 100%;
	background-color: #177165;
}
.call_us_row{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 80%;
	margin: 0 auto;
	padding: 4rem 0;
}
@media screen and (max-width: 1024px){
	.call_us_row{
		width: 85%;
	}
}
@media screen and (max-width: 768px){
	.call_us_row{
		width: 95%;
	}
}
.call_to_action_phrase{
	display: flex;
	justify-content: space-between;
	width: 8.5rem;
	color: #a4d6cf;
	font-size: 1.025rem;
	line-height: 1.828rem;
}
.call_to_action h2{
	color: #FFF;
	margin: 0;
	width: 41rem;
}
@media screen and (max-width: 1024px){
	.call_to_action h2{
		width: 31rem;
		height: 9rem;
	}
}
@media screen and (max-width: 1024px){
	.call_to_action h2{
		width: 25rem;
		height: 9rem;
	}
}
.call_us_number{
	width: 28.938rem;
	height: 6.125rem;
	background-color: #23786D;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}
@media screen and (max-width: 1024px){
	.call_us_number{
		width: 20.938rem;
		height: 5.125rem;
	}
}
@media screen and (max-width: 1024px){
	.call_us_number{
		width: 18.938rem;
		height: 5.125rem;
	}
}
.call_us_number p:nth-child(1){
	color: #a4d6cf;
	font-size: 1.063rem;
	line-height: 0.28rem;
}
.call_us_number p:nth-child(2){
	color: #FFF;
	font-size: 1.063rem;
	margin-left: 1.8rem;
}









.team_members{
	width: 100%;
	height: 67.5rem;
	background: url('../img/backgroundimg.jpg') 0 0 no-repeat;
}
@media screen and (max-width: 1024px){
	.team_members{
		background: url('../img/backgroundimg.jpg')10rem 0 0 no-repeat;
		background-size: 22rem 40.5rem;
		height: 56rem;
	}
}
@media screen and (max-width: 768px){
	.team_members{
		background: url('../img/backgroundimg.jpg')10rem 0 0 no-repeat;
		background-size: 15.24rem 36.9rem;
		height: 52rem;
	}
}
.team_members_row{
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	width: 80%;
}
@media screen and (max-width: 1024px){
	.team_members_row{
		width: 85%;
	}
}
@media screen and (max-width: 768px){
	.team_members_row{
		width: 95%;
	}
}
.team_members_row h2{
	margin: 0 0 3rem 36rem;
	width: 39.62rem;
}
@media screen and (max-width: 1024px){
	.team_members_row h2{
		margin: 0 0 1.8rem 23rem;
	}
}
@media screen and (max-width: 768px){
	.team_members_row h2{
		width: 28rem;
		margin: 0 0 1.8rem 19rem;
	}
}
.team_members_intro{
	display: flex;
	justify-content: space-between;
	margin: 5rem 0 0 36rem;
	width: 11rem;
	font-size: 1.125rem;
	line-height: 1.828rem;
	color: #777777;
}
@media screen and (max-width: 1024px){
	.team_members_intro{
		margin: 3rem 0 0rem 23rem;
	}
}
@media screen and (max-width: 768px){
	.team_members_intro{
		margin: 4rem 0 0rem 19rem;
	}
}
.members{
	display: flex;
	justify-content: space-between;
}
.members h3{
	margin: 0.5rem 0 2rem 0;
}
.members p{
	color: #777777;
	line-height: 1.625rem;
	font-size: 0.938rem;
}
.member_first{
	width: 30%;
}
@media screen and (max-width: 1024px){
	.member_first img{
		width: 17rem;
	}
}
@media screen and (max-width: 768px){
	.member_first img{
		width: 14rem;
	}
}
.founder_of_farmzi{
	display: flex;
	justify-content: space-between;
	color: #777777;
	width: 10.8rem;
	font-size: 1.025rem; 
	line-height: 1.625rem;
}
@media screen and (max-width: 1024px){
	.founder_of_farmzi img{
		width: 2.4rem;
	}
}
.member_second{
	width: 30%;
}
@media screen and (max-width: 1024px){
	.member_second img{
		width: 17rem;
	}
}
@media screen and (max-width: 768px){
	.member_second img{
		width: 14rem;
	}
}
.senior_gardener{
	display: flex;
	justify-content: space-between;
	color: #777777;
	width: 10rem;
	font-size: 1.025rem; 
	line-height: 1.625rem;
}
@media screen and (max-width: 1024px){
	.senior_gardener img{
		width: 2.4rem;
	}
}
.member_third{
	width: 30%;
}
@media screen and (max-width: 1024px){
	.member_third img{
		width: 17rem;
	}
}
@media screen and (max-width: 768px){
	.member_third img{
		width: 14rem;
	}
}
.garden_designer{
	display: flex;
	justify-content: space-between;
	color: #777777;
	width: 10.3rem;
	font-size: 1.025rem; 
	line-height: 1.625rem;
}
@media screen and (max-width: 1024px){
	.garden_designer img{
		width: 2.6rem;
	}
}








.company_intro_video{
	width: 100%;
	height: 25.938rem;
	background-color: #177165;
}
@media screen and (max-width: 1024px){
	.company_intro_video{
		height: 19.715rem;
	}
}
@media screen and (max-width: 768px){
	.company_intro_video{
		height: 14.6rem;
	}
}
.company_intro_video_row{
	display: flex;
	justify-content: space-between;
	width: 80%;
	margin: 0 auto;
}
@media screen and (max-width: 1024px){
	.company_intro_video_row{
		width: 85%;
	}
}@media screen and (max-width: 768px){
	.company_intro_video_row{
		width: 95%;
	}
}
@media screen and (max-width: 1024px){
	.company_intro_video_row img{
		width: 27rem;
	}
}
@media screen and (max-width: 768px){
	.company_intro_video_row img{
		width: 20rem;
	}
}
.company_intro_video_phrase{
	display: flex;
	justify-content: space-between;
	width: 13rem;
	color: #a4d6cf;
	font-size: 1.063rem;
	line-height: 1.828rem;
	margin: 4.7rem 0 0 0;
}
@media screen and (max-width: 1024px){
	.company_intro_video_phrase{
		margin: 3.3rem 0 0 0;
	}
}
@media screen and (max-width: 768px){
	.company_intro_video_phrase{
		margin: 2rem 0 0 0;
		font-size: 1.025rem;
		width: 11.4rem;
	}
}
@media screen and (max-width: 1024px){
	.company_intro_video_phrase img{
		width: 2rem;
	}
}
@media screen and (max-width: 768px){
	.company_intro_video_phrase img{
		width: 1.5rem;
	}
}
.company_intro_video_text h2{
	color: #fff;
	font-weight: 700;
	width: 32.313rem;
	margin: 0 0 0 0;
}
@media screen and (max-width: 1024px){
	.company_intro_video_text h2{
		width: 23rem;
	}
}
@media screen and (max-width: 768px){
	.company_intro_video_text h2{
		width: 23rem;
		font-size: 1.8rem;
	}
}





.reviews{
	width: 100%;
}
.statistic_row{
	width: 80%;
	margin: 5rem auto;
	background-color: #e1f4f2;
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 3rem 0;
}
@media screen and (max-width: 1024px){
	.statistic_row{
		width: 85%;
	}
}
@media screen and (max-width: 768px){
	.statistic_row{
		width: 95%;
	}
	.dot img{
		width: 0.3rem;
		height: 1rem;
	}
}
.stats{
	font-size: 2.81rem;
	text-align: center;
	margin: 0;
	color: #177165;
}
@media screen and (max-width: 1024px){
	.stats{
		font-size: 1.81rem;
	}
}
.statistics_object_first{
	display: flex;
	justify-content: space-between ;
	font-size: 1.025rem;
	line-height: 1rem;
	color: #777777;
	width: 8.7rem;
}
@media screen and (max-width: 1024px){
	.statistics_object_first img{
		width: 1.5rem;
	}
	.statistics_object_first{
		width: 6.4rem;
		font-size: 0.8rem;
	}
}
.statistics_object_second{
	display: flex;
	justify-content: space-between ;
	font-size: 1.025rem;
	line-height: 1rem;
	color: #777777;
	width: 9.2rem;
}
@media screen and (max-width: 1024px){
	.statistics_object_second img{
		width: 1.5rem;
	}
	.statistics_object_second{
		width: 6.7rem;
		font-size: 0.8rem;
	}
}
.statistics_object_third{
	display: flex;
	justify-content: space-between ;
	font-size: 1.025rem;
	line-height: 1rem;
	color: #777777;
	width: 9.45rem;
}
@media screen and (max-width: 1024px){
	.statistics_object_third img{
		width: 1.5rem;
	}
	.statistics_object_third{
		width: 6.9rem;
		font-size: 0.8rem;
	}
}
.statistics_object_forth{
	display: flex;
	justify-content: space-between ;
	font-size: 1.025rem;
	line-height: 1rem;
	color: #777777;
	width: 9.7rem;
}
@media screen and (max-width: 1024px){
	.statistics_object_forth img{
		width: 1.5rem;
	}
	.statistics_object_forth{
		width: 7.1rem;
		font-size: 0.8rem;
	}
}





.work_example{
	width: 71.25rem;
	height: 33.125rem;
	margin: 0 auto 5rem;
	background: url(../img/farmers.jpg) 0 0 no-repeat;
	position: relative;
}
@media screen and (max-width: 1024px){
	.work_example{
		width: 85%;
		margin: 0 auto 4rem;
	}
}
@media screen and (max-width: 768px){
	.work_example{
		width: 95%;
		margin: 0 auto 4rem;
	}
}
.work_example_info{
	position: absolute;
	bottom: 0;
	left: 0 ;
	background-color: #177165;
	padding: 4rem 3.125rem 1.5rem;
}
@media screen and (max-width: 768px){
	.work_example_info{
		padding:3rem 2.5rem 1rem;
	}
}
.work_example_info p:nth-child(odd){
	font-size: 0.938rem;
	color: #a4d6cf;
	margin:  0 0 -1.5rem;
}
.work_example_info p:nth-child(even){
	font-size: 1.375rem;
	color: #FFF;
	font-family: 'playfair';
	margin: 2rem 0;
}







.feedback{
	width: 100%;
	height: 44rem;
	background-color: #e1f4f2;
}
@media screen and (max-width:1024px){
	.feedback{
		height: 48rem;
	}
}
.feedback_intro{
	display: flex;
	justify-content: space-between;
	color: #777777;
	width: 9.5rem;
	font-size: 1.025rem;
	margin: 0 0 0 9.3rem;
	padding: 5rem 0 0 0;
}
@media screen and (max-width:1024px){
	.feedback_intro{
		margin: 0 0 0 5rem;
	}
}
@media screen and (max-width:768px){
	.feedback_intro{
		margin: 0 0 0 1.5rem;
	}
}
.feedback_row{
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	width: 80%;
}
@media screen and (max-width:1024px){
	.feedback_row{
		width: 85%;
	}
}
@media screen and (max-width:768px){
	.feedback_row{
		width: 95%;
	}
}
.feedback_first_item{
	width: 45%;
	height: 25.5rem;
	background: url(../img/quotes.svg) 50% 10% no-repeat;
	background-color: #FFF;
}
@media screen and (max-width:1024px){
	.feedback_first_item{
		height: 28.5rem;
	}
}
@media screen and (max-width:768px){
	.feedback_first_item{
		height: 27rem;
	}
}
.feedback_first_item p:nth-child(1){
	color: #177165;
	font-size: 1.375rem;
	line-height: 1.875rem;
	margin: 3rem;
	font-family: 'playfair';
}
@media screen and (max-width:768px){
	.feedback_first_item p:nth-child(1){
	font-size: 1.3rem;
	line-height: 1.5rem;
	margin: 3rem;
	}
}
.designer_of_musion{
	display: flex;
	justify-content: space-between;
	color: #777777;
	width: 12rem;
	margin-left: 3rem;
	font-size: 1.025rem;
	line-height: 3rem;
}
.feedback_first_item h3{
	margin-left: 3rem;
}
.feedback_second_item{
	width: 45%;
	height: 25.5rem;
	background: url(../img/quotes.svg) 50% 10% no-repeat;
	background-color: #FFF;
}
@media screen and (max-width:1024px){
	.feedback_second_item{
		height: 28.5rem;
	}
}
@media screen and (max-width:768px){
	.feedback_second_item{
		height: 27rem;
	}
}
.feedback_second_item p:nth-child(1){
	color: #177165;
	font-size: 1.375rem;
	line-height: 1.875rem;
	margin: 3rem;
	font-family: 'playfair';
}
@media screen and (max-width:768px){
	.feedback_second_item p:nth-child(1){
	font-size: 1.3rem;
	line-height: 1.5rem;
	margin: 3rem;
	}
}
.ceo_of_musion{
	display: flex;
	justify-content: space-between;
	color: #777777;
	width: 10rem;
	margin-left: 3rem;
	font-size: 1.025rem;
	line-height: 3rem;
}
.feedback_second_item h3{
	margin-left: 3rem;
}






.latest_news{
	width: 100%;
	height: 62rem;
}
@media screen and (max-width: 1024px){
	.latest_news{
		height: 55rem;
	}
}
.latest_news_intro{
	margin: 5rem 0 3rem 0;
}
.latest_news_intro_phrase{
	display: flex;
	justify-content: space-between;
	color: #777777;
	width: 8.7rem;
	font-size: 1.025rem;
	margin: 0 0 0 9.3rem;
}
@media screen and (max-width: 1024px){
	.latest_news_intro_phrase{
	margin: 0 0 0 5rem;
	}
}
@media screen and (max-width: 768px){
	.latest_news_intro_phrase{
	margin: 0 0 0 1.4rem;
	}
}
.latest_news_row{
	display: flex;
	justify-content: space-between;
	width: 80%;
	margin: 0 auto;
}
@media screen and (max-width: 1024px){
	.latest_news_row{
		width: 85%;
	}
}
@media screen and (max-width: 768px){
	.latest_news_row{
		width: 95%;
	}
}
.latest_news_first_item{
	width: 48.3%;
	height: 43rem;
	background-color: #e1f4f2;
}
@media screen and (max-width: 1024px){
	.latest_news_first_item img{
		width: 26.2rem;
	}
	.latest_news_first_item{
		height: 39rem;
	}
}
@media screen and (max-width: 768px){
	.latest_news_first_item img{
		width: 22rem;
	}
	.latest_news_first_item{
		height: 40rem;
	}
}
.latest_news_first_item p:nth-child(4){
	margin: 2rem 2rem 3rem 2rem;
	font-size: 1rem;
	line-height: 1.625rem;
	color: #777777;
}
.latest_news_first_item p:nth-child(2){
	font-size: 1rem;
	color: #777777;
}
@media screen and (max-width: 768px){
	.latest_news_first_item p:nth-child(2){
		color: #777777;
		font-size: 0.85rem;
	}
}
.latest_news_first_item b{
	color: #177165;
	margin: 0 0.3rem 0 2rem;
}
.latest_news_first_item h3{
	margin: 2rem;
	font-size: 1.56rem;
	line-height: 2rem;
}
.latest_news_first_item a{
	text-decoration: none;
	color: #177165;
	padding: 0.8rem 2.5rem ;
	margin: 0rem 2rem 3rem;
	background-color: #FFF;
}
.latest_news_first_item a:hover{
	background-color: #a4d6cf;
}
.latest_news_second_item{
	width: 48.3%;
	background-color: #e1f4f2;
	height: 43rem;
}
@media screen and (max-width: 1024px){
	.latest_news_second_item img{
		width: 26.2rem;
	}
	.latest_news_second_item{
		height: 39rem;
	}
}
@media screen and (max-width: 768px){
	.latest_news_second_item img{
		width: 22rem;
	}
	.latest_news_second_item{
		height: 40rem;
	}
}
.latest_news_second_item p:nth-child(4){
	margin: 2rem 2rem 3rem 2rem;
	font-size: 1rem;
	line-height: 1.625rem;
	color: #777777;
}
.latest_news_second_item p:nth-child(2){
	font-size: 1rem;
	color: #777777;
}
@media screen and (max-width: 768px){
	.latest_news_second_item p:nth-child(2){
		color: #777777;
		font-size: 0.85rem;
	}
}
.latest_news_second_item b{
	color: #177165;
	margin: 0 0.3rem 0 2rem;
}
.latest_news_second_item h3{
	margin: 2rem;
	font-size: 1.56rem;
	line-height: 2rem;
}
.latest_news_second_item a{
	text-decoration: none;
	color: #177165;
	padding: 0.8rem 2.5rem ;
	margin: 0rem 2rem 3rem;
	background-color: #FFF;
}
.latest_news_second_item a:hover{
	background-color: #a4d6cf;
}






.logos{
	width: 100%;
	background-color: #e1f4f2;
}
.logos_row{
	display: flex;
	width: 80%;
	justify-content: space-around;
	margin: 0rem auto;
	padding: 5rem 0 5rem 0;
}
@media screen and (max-width: 1024px){
	.logos_row{
		width: 85%;
	}
}
@media screen and (max-width: 768px){
	.logos_row{
		width: 95%;
	}
	.logos_row img{
		width: 5rem;
	}
}









footer{
	width: 100%;
	background-color: #177165;
	height: 42rem;
}
@media screen and (max-width: 1024px){
	footer{
		height: 34.5rem;
	}
}
.footer_row{
	width: 80%;
	display: flex;
	justify-content: space-between;
	margin:0 auto;
}
@media screen and (max-width: 1024px){
	.footer_row{
		width: 85%;
	}
}
@media screen and (max-width: 768px){
	.footer_row{
		width: 95%;
	}
}
.footer_links{
	display: flex;
	justify-content: space-between;
	width: 50%;
	margin: 10rem 0 0rem 0;
}
.footer_links h3{
	color: #FFF;
	font-size: 1.875rem;
	line-height: 2.25rem;
}
@media screen and (max-width: 768px){
	.footer_links h3{
		font-size: 1.5rem;
	}
}
.footer_links a{
	color: #FFF;
	text-decoration: none;
}
.footer_links li{
	list-style: none;
	font-size: 0.938rem;
	line-height: 3.25rem;
	margin-left: -2.4rem;
	background: url(../img/vector.svg)  no-repeat 0;
	padding-left: 1rem;
}
.footer_info{
	width: 30%;
	background-color: #23786D;
	height: 29rem;
	margin: 4rem 0;
	padding: 5rem 5rem 0 5rem;
}
@media screen and (max-width: 1024px){
	.footer_info{
		padding: 3rem 3rem 0 3rem;
		height: 23.5rem;
	}
}
@media screen and (max-width: 768px){
	.footer_info{
		padding: 2rem 2rem 2rem 2rem;
		height: 23.5rem;
	}
}
.footer_info p{
	color: #FFF;
	margin: 5rem 0 3rem 0;
	font-size: 1rem;
	line-height: 1.625rem;
}
.footer_telephone{
	display: flex;
}
.footer_telephone p{
	margin: 0 2rem;
	font-size: 1.063rem;
}
@media screen and (max-width: 768px){
	.footer_telephone p{
		margin: 1rem;
		line-height: 0.5rem;
	}
}
.footer_telephone p:nth-child(1){
	color: #a4d6cf;
}

